@model AddToCartForm

@{
    Product p = ViewBag.Product;
}
<h2>Detail @p.Name</h2>

<p>@p.Description</p>
<img src = "@p.Photo" width="150"/>

@using (Html.BeginForm()) {
    @Html.LabelFor(x => x.Quantity)
    @Html.TextBoxFor(x => x.Quantity)
    @Html.ValidationMessageFor(x => x.Quantity)

    @Html.HiddenFor(x => x.Id)
    @Html.ValidationMessageFor(x => x.Id)

    <button type = "submit">Add</button>
}