@model IEnumerable<DatabaseModel>

@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Pridat">
    <button class="btn btn-primary">Pridat firmu</button>
</a>

<table>
    <tr>
        <th>Nazev</th>
        <th>DIC</th>
        <th>Zamestnancu</th>
        <th>Pravni forma</th>
        <th>Poznamka</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Nazev</td>
            <td>@item.Dic</td>
            <td>@item.PocetZamestnancu</td>
            <td>@item.PravniForma</td>
            <td>@item.Poznamka</td>
            <td>
                <form method="post" asp-route-id = "@item.Id" asp-action="Odstranit">
                    <button class="btn btn-danger" type="submit">Odstranit</button>
                </form>
            </td>
        </tr>
    }
</table>